.App {
  &-text {
    font-size: 26px;
    font-weight: bold;
  }
  &-header {
    background-color: #343a40;
    width: 100%;
    margin: 0;
    top: 0;
    &-ul {
      list-style: none;
      padding: 0;
      display: flex;
      margin: 0;
    }
    &-li {
      color: #e9ecef;
      height: 100%;
      flex: 1;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 10px;
      transition: all 0.3s ease-in;
      cursor: pointer;
    }
    &--sticky {
      position: fixed;
    }
  }
  &-content {
    margin: 0 auto;
    text-align: justify;
    padding-top: 20px;
  }
}
